* {
  font-family: 'Mukta', sans-serif;
}

.t_0 {
  font-size: 1.1em;
}

.t_0_bold, #name {
  font-weight: bold;
}

.a_0 {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

nav {
  font-size: 1.1em;
}

ul li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

nav ul li {
  line-height: 200%;
}
