* {
  font-family: 'Mukta Mahee', sans-serif;
}

.t_0 {
  font-size: 1.1em;
}

.t_0_bold, #name {
  font-size: 1.1em;
  font-weight: bold;
}

h3 {
  font-size: 1.9em;
  font-weight: bold;
}

.a_0 {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#portfolio ul li {
  font-size: 1.1em;
}

#portfolio ul li a {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}