.val_txt {
  font-family: 'Roboto';
  font-size: 1.2vw;
  display: inline-block;
  width: 3vw;
}

.title_0 {
  font-family: 'Roboto';
  font-size: 1.2vw;
}

.title_1 {
  font-family: 'Roboto';
  font-size: 1.9vw;
}

.title_2 {
  font-family: 'Roboto';
  font-size: 1.3vw;
}

.text_0 {
  font-family: 'Roboto';
  font-size: 0.9vw;
}

.list_div_parent {
  display: inline-block;
  padding-right: 2vw;
  width: 33vw;
}

.list_item {
  font-family: 'Roboto Mono';
  font-size: 1.2vw;
}

.list_div {
  background-color: #F0F0DD;
  padding: 1vw;
}

.error_bit {
  background-color: #E84855;
}

.error_bit_decoded {
  background-color: #E84855;
}

.error_bit_detected {
  background-color: #F29074;
}

.small_space {
  font-size: 0.7vw;
}

.result_div {
  background-color: #F0F0DD;
}

.info_tab, .info_tab_active {
  display: inline-block;
  font-family: 'Roboto Mono';
  font-size: 1.2vw;
  background-color: #F0F0DD;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.info_tab_active {
  background-color: #D9D4C3;
}

.info_tab:hover, .info_tab_active:hover {
  cursor: pointer;
}

.info_text {
  font-family: 'Roboto';
  font-size: 1.15vw;
  width: 95vw;
/*  background-color: #F0F0DD; */
  padding-top: 0.1vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 0.5vw;
}
