body {
  font-family: 'Inter';
  font-size: 15pt;
  text-align: justify;
}

h1, h2, h3, h4, .paper_title {
  font-family: 'Merriweather';
}

a {
  text-decoration: underline;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.venue {
  text-align: right;
  display: block;
  width: max-content;
}

.paper_title {
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  border-left: 2pt solid black;
  border-right: 2pt solid black;
  border-top: 2pt solid black;
  border-bottom: none;
}

.paper_details {
  margin-bottom: 10px;
  padding: 5px;
  margin-top: -8px;
  font-size: 11pt;
  text-align: justify;
  hyphens: auto;
  border-left: 2pt solid black;
  border-right: 2pt solid black;
  border-bottom: 2pt solid black;
}

.paper_details_withimg {
  min-height: 230px;
}

.paper_details_paragraph {
  display: inline-block;
}

.paper_details img {
  max-width: 350px;
  max-height: 200px;
  float: right;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: -10px;
  margin-bottom: -5px;
}

.authors_span {
  text-align: left;
  width: initial;
  display: flex;
}


.paper_details_link {
  display: inline-block;
  padding: 5px;
  font-size: 10pt;
  background-color: #000;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  text-decoration: none;
}


#menu {
  margin-bottom: 100px;
  padding-left: 120px;
}

#whole {
  width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: 10px;
}

#navmenu {
  vertical-align: top;
  margin-right: 10px;
}

#navmenu > a {
  display: block;
  text-decoration: none;
  width: 100px;
}

#navmenu > a:hover {
  background-color: #e8b77e;
  cursor: pointer;
}

#navmenu > a.active {
  background-color: #e09a4a;
  cursor: pointer;
}

#all_button_expand,
#all_button_hide {
  padding: 5px;
  font-size: 10pt;
  background-color: #000;
  color: white;
  cursor: pointer;
  position: relative;
  top: -3px;
}

#content {
  display: inline-block;
  width: calc(100% - 120px);
}

ul, ol {
  margin-top: 5px;
  padding-left: 20px;
}

h4 {
  margin-bottom: 5px;
}