body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15pt;
  text-align: justify;
  /* never rescale for phone */
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
.paper_title {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: underline;
  color: #ba727f;
}

a:hover {
  text-decoration: underline;
}

.venue {
  text-align: right;
  display: block;
  width: max-content;
}

.paper_title {
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  border-left: 2pt solid black;
  border-right: 2pt solid black;
  border-top: 2pt solid black;
  border-bottom: none;
}

.paper_details {
  margin-bottom: 10px;
  padding: 5px;
  margin-top: -8px;
  font-size: 11pt;
  text-align: justify;
  hyphens: auto;
  border-left: 2pt solid black;
  border-right: 2pt solid black;
  border-bottom: 2pt solid black;
}

.paper_details_withimg {
  min-height: 230px;
}

.paper_details_paragraph {
  display: inline-block;
}

.paper_details img {
  max-width: 350px;
  max-height: 200px;
  float: right;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: -10px;
  margin-bottom: -5px;
}

.authors_span {
  text-align: left;
  width: initial;
  display: flex;
}


.paper_details_link {
  display: inline-block;
  padding: 5px;
  font-size: 10pt;
  background-color: #000;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  text-decoration: none;
}

#whole {
  width: 880px;
  margin: auto;
  background-color: #fff;
  padding: 10px;
}

#navmenu {
  vertical-align: top;
  font-family: "Merriweather";
}

#navmenu>a {
  display: inline-block;
  text-decoration: none;
  width: 130px;
  color: black;
  margin: 0px;
  text-align: center;
}

#navmenu>a {
  background-color: #e6d0d2;
  cursor: pointer;
}

#navmenu>a:hover {
  background-color: #e0a6aa;
  cursor: pointer;
}

#navmenu>a.active {
  background-color: #ba727f;
  cursor: pointer;
}

#content {
  width: 100%;
}

ul,
ol {
  margin-top: 5px;
  padding-left: 20px;
}

h4 {
  margin-bottom: 5px;
}