ErrorDocument 404 /pages/404.php
ErrorDocument 403 /pages/403.php

<Files "list_files.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "pages/main_error.php">
    Order Allow,Deny
    Deny from all
</Files>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# allow CORS
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
