* {
  font-family: 'Fira Sans';
}

body {
  font-size: 1.1em;
  background-color: #eee;
}

.t_bold,
#name {
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #111;
}

.venue {
  float: right;
  position: relative;
  top: -5px;
}

.paper_title {
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.paper_details {
  margin-bottom: 10px;
  padding: 5px;
  margin-top: -8px;
  font-size: 11pt;
  border-radius: 5px;
  background-color: #ccc;
  text-align: justify;
}

.paper_details_withimg {
  min-height: 280px;
}

.paper_title_active {
  border-radius: 5px;
  background-color: #ccc;
}

.paper_details_paragraph {
  display: inline-block;
}

.paper_details img {
  max-width: 350px;
  max-height: 200px;
  float: right;
  margin-left: 5px;
}

.paper_details_arrow { 
  height: 8pt;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #373;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  top: 5px;
}

.paper_details_arrow_up {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
               zoom: 1;
  }

.paper_details_link {
  display: inline-block;
  padding: 5px;
  font-size: 10pt;
  background-color: #373;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

#menu {
  width: 160px;
  margin-right: 20px; 
  display: inline-block;
}

#whole {
  max-width: 950px;
  min-width: 350px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

@media only screen and (max-width: 570px) {
  #whole {
    margin-top: -30px;
  }

  #header_nothing {
    display: block;
  }

  #img_trees  {
    float: none !important;
    margin-right: 0px !important;
  }

  #menu {
    text-align: center;
  }
}

#menu img {
  vertical-align: bottom;
}

#menu ul li {
  line-height: 1.6em;
}


h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

#all_button_expand, #all_button_hide {
  padding: 5px;
  font-size: 10pt;
  background-color: #373;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: -3px;
}