* {
  font-family: 'Fira Sans';
}

body {
  font-size: 1.1em;
  background-color: #eee;
}

.t_bold,
#name {
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #021;
}

.venue {
  float: right;
}

.paper_title {
  margin-top: 30px;
  cursor: pointer;
}

.paper_details {
  margin-bottom: 10px;
  padding-left: 25px;
}

.paper_details_arrow { 
  height: 8pt;
  margin-right: 5px;
  background-color: #373;
  padding: 5px;
  border-radius: 10px;
}

.paper_details_arrow_up {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
               zoom: 1;
  }

.paper_details_link {
  font-size: 0.9em;
}

#menu {
  width: 160px;
  margin-right: 20px; 
  display: inline-block;
}

#whole {
  max-width: 950px;
  min-width: 350px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

@media only screen and (max-width: 570px) {
  #whole {
    margin-top: -30px;
  }

  #header_nothing {
    display: block;
  }

  #img_trees  {
    float: none !important;
    margin-right: 0px !important;
  }

  #menu {
    text-align: center;
  }
}

#menu img {
  vertical-align: bottom;
}

#menu ul li {
  line-height: 1.6em;
}


h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

#all_button_expand, #all_button_hide {
  padding: 5px;
  font-size: 0.7em;
  background-color: #373;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: -3px;
}