* {
  font-family: 'Fira Sans';
}

body {
  font-size: 1.1em;
  background-color: #9a9;
}

.t_bold,
#name {
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #021;
}

.venue {
  float: right;
}

.paper_title {
  margin-top: 20px;
}

.paper_details_button {
  cursor: pointer;
}

.paper_details {
  margin-bottom: 10px;
  padding-left: 25px;
}

.paper_details_arrow { 
  height: 8pt;
  margin-right: 5px;
}

.paper_details_arrow_up {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
               zoom: 1;
  }

.paper_details_link {
  font-size: 0.9em;
}

#menu {
  width: 160px;
  margin-right: 20px; 
  display: inline-block;
}

#whole {
  max-width: 950px;
  min-width: 350px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

hr {
  border: none;
  height: 3px;
  color: #999;
  background-color: #999;
}
 
.subpage_header {
  font-size: 1.1em;
}

@media only screen and (max-width: 570px) {
  #whole {
    margin-top: -30px;
  }

  #header_nothing {
    display: block;
  }

  #img_trees  {
    float: none !important;
    margin-right: 0px !important;
  }

  #menu {
    text-align: center;
  }
}

#menu img {
  vertical-align: bottom;
}

#menu ul li {
  line-height: 1.6em;
}

/* table styling */
table {
  border-spacing: 0 0.6em;
}

td {
  padding-bottom: 10px;
  line-height: 1em;
}

table tr td:last-child {
  text-align: right;
}

/* set column width */
table td:nth-child(1) {
  width: auto;
}

h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}